#tecno-container{
    background-color: #001D46;
    padding: 20px;
}

#tecno-container h1{
    color: azure;
    text-align: center;
}

#tecno-container h4{
    color: azure;
    text-align: center;
}




/*SECCIÓN: BACKEND*/



/*SECCIÓN: BASE DE DATOS*/

   


/*SECCIÓN: DEVOPS*/

   

