/*MENÚ NAVIGATION*/

    nav{
        background-color: #001D46;
        padding: 20px;
        display: flex;
        justify-content: end;
        gap: 70px;
    }

    nav a{
        text-decoration: none;
        color: rgb(33, 218, 178);
    }