/*TÍTULO*/

    /*sin contenido*/


/*CONTENIDO*/

    #tec-bd-content{
        width: 30%;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card-tecno-bd{
        background-color: #448eb1;
        width: 75px;
        height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-tecno-bd #img_tecno{
        max-width: 50px;
        max-height: 50px;
    }

    .card-tecno-bd h3{
        text-align: center;
        margin: 0;
        font-size: 10px;
        color: white;
    }

