/*SECCIÓN: FRONTEND*/

    #tec-front-content{
        background-color: #093d85;
        width: 30%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        justify-content: center;
        gap: 20px;
    }

    .card-tecno-front{
        background-color: #448eb1;
        width: 75px;
        height: 100px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-tecno-front #img_tecno{
        max-width: 75px;
        max-height: 75px;
        text-align: center;
        align-content: center;
    }

    .card-tecno-front h3{
        text-align: center;
        margin: 0;
        font-size: 13px;
        color: white;
    }
